@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .45s ease;    
}
body{    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background: #0a2186da;
}

video{
    background: url(../video/count-video.mp4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
