@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;    
}
body{ 
    /* background: url(../img/bg-count.webp);  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
}/*
video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0;
    position: absolute;
    z-index: -1;
}*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    width: 80vw;
    height: 95vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.675);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    --webkit-backdrop-filter: blur(2px);
}
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
img{
    width: 300px;
}
h1{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
h1 span {
    color: rgb(0, 0, 0);
    font-weight: 500;

}
h2{
    font-size: 2rem;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.503);
}
h3{
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.503);
}


/*  Responsive Area  */

/*  Mobile - iPhone 13 Mini */
@media screen and (min-width: 0px) and (max-width: 375px){
    body { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin: auto;
    }
    .container{background: rgba(255, 255, 255, 0.836);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;        
        height: 90%;
        margin: auto;
    }
    .container h1{
        color: black;
        font-size: 1.5rem;
    }
    .container h2{
        font-size: 1rem;
        margin-top: 10px;
        font-weight: 700;
        line-height: 90%;
        color: black;
    }
    .container h3{
        font-size: .8rem;
        color: black;
        font-weight: 400;
    }
    .container h4 {
        font-size: .5rem;
    }
    .countdown{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: 20%;
    }

    .time{
        width: 50px;
        height: 80px;
        margin: 2px;
    }
    .time h2{
        font-size: 1.5rem;
        margin-top: 0;
    }
    .time small{
        font-size: .5rem;
    }
    a{
        width: 100%;
        font-size: 1rem;
        padding: 10px 0px;
    }
    img{
        width:100px;
    }
    
}
/*  Mobile - iPhone 14 Pro Max – 1  */
@media screen and (min-width: 376px) and (max-width: 430px){
    body { 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: auto;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95vw;        
        height: 95vh;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 10px;
    }
    h3{
        font-size: 1rem;
    }
    img{
        width: 50%;
    }

}
/*  Tablet - iPad  */
@media screen and (min-width: 431px) and (max-width: 768px){
    body { 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95vw;        
        height: 95vh;
        margin: 20px;
        padding: 20px;
    }
    .container h1{
        font-size: 2rem;
    }
    .container h2{
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
    }
    .container h3{
        font-size: 1.5rem;
    }
    .container h4 {
        font-size: 1rem;
    }   
}
/*  Tablet - iPad Pro 12,9"  */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .container h1{
        font-size: 3rem;
    }
    .container h2{
        font-size: 1.8rem;
        font-weight: 500;

        margin-top: 10px;
    }
    .container h3{
        font-size: 1.5rem;
    }
    .container h4 {
        font-size: 1rem;
    }
}
/*  Desktop - Web 1280  */
@media screen and (min-width: 1025px) and (max-width: 1280px){
    .container h1{
        font-size: 4rem;
    }
    .container h2{
        font-size: 2rem;
        font-weight: 500;
        margin-top: 10px;
        
    }
    .container h3{
        font-size: 1.8rem;
    }
    .container h4 {
        font-size: 1.5rem;
    }

}





/*  Notebook/Desktop - Web 1366  */
@media screen and (min-width: 1281px) and (max-width: 1366px){

}
/*  Desktop - Web 1920  */
@media screen and (min-width: 1367px) and (max-width: 1920px){

}      