@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  Mobile - iPhone 13 Mini */
@media (max-width: 1024px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        transition: all .2s ease;
    }
    body{
        margin: auto;
        padding: 0;
    }
    :root{
        --azul: #00008c;
        --amarelo: #FFD401;
        --verde: #29A71A;
        --preto: #000000;
        --branco: #FFFFFF;  
        --fontam6: clamp(1.6em, 1.5em + 3vw, 8rem);
        --fontam5: clamp(1.5em, 1.1em + 2.3vw, 4.1rem);
        --fontam4: clamp(1.3em, 1em + 2vw, 4rem);
        --fontam3: clamp(1.1em, .75em + 1.5vw, 3rem);
        --fontam2: clamp(1.05em, .6em + 1vw, 2rem);
        --fontam1: clamp(.5em, .5em + .7vw, 1rem);
    }
/*  Fim do Body  */
/*  *************************************************** */
/*  Inicio do Main  */

    header{        
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        margin: auto;
        padding: 0 5%;
    }
    header.sticky{
        height: 58px;
        background: var(--branco);
        box-shadow: 0px 5px 5px 0px #00000077;
        border-bottom: #00008c solid 5px;
        transition: all .2s ease;
    }
    header.sticky .btn{
        color: var(--azul);
    }
    header .menu.active{
        right: 0;
    }

    header .menu .close-btn{
        color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 90%;
        margin: 20px 0px 0px 0px;
    }
    header nav{
        position: fixed;
        background: #00008ccd;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        min-width: 50%;
        height: 100vh;
        top: 0;
        right: -110%;
        padding: 80px 20px;
        transition:  0.5s;
        transition-property: right;
    }
    header nav a {
        display: block;
        font-size: 2rem;
        margin: 5px;
        padding: 0 15px;
        color: var(--branco);
        font-weight: 500;
    }
    header nav a:hover {
        color: var(--amarelo);
    }
    header .button {
        display: none;
    }
    .btn{
        display: block;
        font-size: var(--fontam4);
        color: var(--branco);
    }
    .logo img{
        max-width: 12%;
    }
    nav a{ display: none;    
    }
    .menu-diferenciais {
        display: none;
    }
    .menu-trabalhos {
        display: none;
    }
    .menu-depoimentos {
        display: none;
    }
    .menu-contatos {
        display: none;
    }
/*  Fim do Header/Nav  */
/*  *************************************************** */
/*  Inicio do Main  */

/*  Fim do Main  */
/*  *************************************************** */
/*  Inicio do Home  */
    .home{
        background: url(../img/bg1-home-mbl.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .home .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
        width: 90%;
        height: 100vh;
    }
    .home .container aside img{
        max-width:50%;
        height: auto;
    }
    .home .container article{
        width: 100%;
        height: auto;
        text-align: center;
        color: var(--branco);
    }
    .home .container article h1{      
        font-size: var(--fontam6);
        line-height: 1; 
    }
    .home .container article h1 span{      
        color: var(--amarelo);
    }
    .home .container article h2{
        font-size: var(--fontam2);      
    }
    .home .container article h3{
        font-size: var(--fontam3);    
        margin: 30px 0;    
    }
    .home .container a{
        background: var(--verde);
        border-radius: 7px;
        border: #ffffff solid 3px;
        font-size: var(--fontam3);
        color: var(--branco);
        padding: 10px 30px;
        margin: 00px 0;    
    }
/*  Fim do Home  */
/*  *************************************************** */
/*  Inicio do Home2  */
    .home2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 10%;
    }
    .home2 h1{
        font-size: var(--fontam4);
        margin: 20px 0;        
    }
    .home2 h1 span{
        color: var(--amarelo);
    }
/*  Fim do Home2  */
/*  *************************************************** */
/*  Inicio do Soluções  */
    .solucoes{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .solucoes h1{
        font-size: var(--fontam4);
        color: var(--azul);
        margin: 20px;
    }
    .solucoes h1 span{
        color: var(--amarelo);
    }
    .solucoes .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: auto;  
        padding: 0 10px;  
    }
    .solucoes .container .box{
        background: var(--branco);
        max-width: 500px;
        margin: 10px;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 140, 0.078);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.212);
        }
    .solucoes .container .box:hover{
        background: var(--amarelo);
        transform: translateY(-8px);
    }
/*  Fim da Soluções  */
/*  ************************
/*  Inicio do Diferenciais  */
    .diferenciais{display: none;}
/*  Fim do Diferenciais  */
/*  *************************************************** */
/*  Inicio do Trabalhos  */
    .trabalhos{display: none;}
/*  Fim do Trabalhos  */
/*  *************************************************** */
/*  Inicio do Depoimentos  */
    .depoimentos{display: none;}
/*  Fim do Depoimentos  */
/*  *************************************************** */
/*  Inicio do Sobre  */
    .sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #FFD401;
        padding: 5%;
        text-align: center;
    }
    .sobre article h1{
        font-size: var(--fontam4);
        color: var(--azul);
    }
    .sobre article h2{
        font-size: var(--fontam2);
    }
    .sobre article p{
        margin: 30px 0;
    }
    .sobre article a{
        background: var(--verde);
        border-radius: 7px;
        border: #ffffff solid 3px;
        font-size: var(--fontam3);
        color: var(--branco);
        padding: 10px 30px;
        margin: 00px 0;  
    }
    .sobre aside img{
        display: none;
    }
/*  Fim do Sobre  */
/*  *************************************************** */
/*  Inicio do Contatos  */
    .contatos{display: none;

    }
    .contatos-txt h1, p{
    }
    .contatos .iframe iframe{
    }
/*  Fim do Contatos  */
/*  *************************************************** */
/*  Inicio do Footer  */
    footer{
        width: 100%;
        margin: auto;
        padding: 20px;
        font-size: var(--fontam1);
        text-align: center;
        color: var(--branco);
        background: var(--azul);
    }
    footer .menu-footer a{display: none;
       color: var(--amarelo);
    }
    footer .rodape a{
        color: var(--amarelo);
    }

}
/*  Desktop - Web 1280  */
@media screen and (min-width: 1025px) and (max-width: 1366px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        transition: all .2s ease;
    }
    body{background: #ff0000;
        margin: auto;
        padding: 0;
    }
    :root{
        --azul: #00008c;
        --amarelo: #FFD401;
        --verde: #29A71A;
        --preto: #000000;
        --branco: #FFFFFF;  
    
        --fontam6: clamp(1.6em, 1.5em + 3vw, 8rem);
        --fontam5: clamp(1.5em, 1.1em + 2.3vw, 4.1rem);
        --fontam4: clamp(1.3em, 1em + 2vw, 4rem);
        --fontam3: clamp(1.1em, .75em + 1.5vw, 3rem);
        --fontam2: clamp(1.05em, .6em + 1vw, 2rem);
        --fontam1: clamp(1em, .5em + .7vw, 1rem);
    }
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        background: #FFFFFF;
    }
    ::-webkit-scrollbar-track:hover{
        background: #ffffff85;
    }
    ::-webkit-scrollbar-thumb{
        background: var(--azul);
        border-radius: 5px;
    }
    /*  Fim do Body  */
    /*  *************************************************** */
    /*  Inicio do Main  */
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background:rgba(255, 255, 255, 0);    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 88px;
        margin: auto;
        padding: 0 3%;
    }
    header.sticky{
        height: 88px;
        background: var(--branco);
        box-shadow: 0px 10px 10px 0px #00000072;
        border-bottom: #00008c solid 5px;
        transition: all .45s ease;
    }
    header.sticky .logo a{
        color: var(--azul);
        margin-right: 20px;
    }
    header.sticky .logo a span{
        color: var(--amarelo);
        text-shadow: #00000012 5px 5px 5px;
    }
    header.sticky .logo a:hover{
        border-bottom: none;
        font-size: 1.9rem;
    }
    header.sticky nav a{
        color: var(--azul);
        transition: all .45s ease;
    } 
    header.sticky nav a:hover{
        color: var(--amarelo);
        border-bottom: #FFD401 solid 1px;
        transition: all .45s ease;
    } 
    header.sticky .button{
        background: var(--verde);
        padding: 7px 20px;
        border-radius: 20px;
        border: #ffffff solid 2px;
        color: var(--branco);
    } 
    header.sticky .button:hover{
        background: var(--azul);
        color: var(--amarelo);
        border-bottom: none;
        border: #FFD401 solid 2px;
        transition: all .45s ease;
    } 
    .btn-mbl{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 60px;
        margin: 10px;
    }
    .logo a{  /*background:rebeccapurple; */
        font-size: var(--fontam3);
        color: var(--amarelo);
    }
    .logo a span{
        color: var(--branco);
    }
    .logo a:hover{
        font-size: var(--fontam3);
    }
    nav{/*background: red;*/
        color: var(--branco);
        padding: 10px;
    }
    nav a{/*background: gray;*/
        font-size: var(--fontam1);
        color: var(--branco);
        margin-right: 20px;
        padding: 5px;
    
    }
    nav a:hover{
        color: var(--amarelo);
        border-bottom: #FFD401 solid 2px;
        transition: all .45s ease;
    }
    nav .button {
        background: var(--verde);
        padding: 7px 20px;
        border-radius: 20px;
        border: #ffffff solid 2px;
        color: var(--branco);
    }
    nav .button:hover{
        background: var(--verde);
        border-bottom: none;
        border: #ffffff solid 2px;
        color: var(--branco);
    }
}





/*  Mobile - iPhone 14 Pro Max – 1  */
@media screen and (min-width: 376px) and (max-width: 430px){}
/*  Tablet - iPad  */
@media screen and (min-width: 431px) and (max-width: 768px){}
/*  Tablet - iPad Pro 12,9"  */
@media screen and (min-width: 769px) and (max-width: 1024px){}
/*  Desktop - Web 1366  */
@media screen and (min-width: 1281px) and (max-width: 1366px){}
/*  Desktop - Web 1920  */
@media screen and (min-width: 1367px) and (max-width: 1920px){}
