@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .45s ease;
}
body{
    margin: auto;
    padding: 0;
}
:root{
    --azul: #00008c;
    --amarelo: #FFD401;
    --verde: #29A71A;
    --preto: #000000;
    --branco: #FFFFFF;  

    --fontam6: 6rem;
    --fontam5: 5rem;
    --fontam4: 3rem;
    --fontam3: 2rem;
    --fontam2: 1.5rem;
    --fontam1: 1rem;
}

/*  Fim do Body  */
/*  *************************************************** */
/*  Inicio do Main  */
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(255, 255, 255, 0);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    margin: auto;
    padding: 0 3%;
}
.btn-mbl{
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60px;
    margin: 10px;
}
.logo a{  /*background:rebeccapurple; */
    font-size: var(--fontam3);
    color: var(--amarelo);
}
.logo a span{
    color: var(--branco);
}
.logo a:hover{
    font-size: var(--fontam3);
}
nav{/*background: red;*/
    color: var(--branco);
    padding: 10px;
}
nav a{/*background: gray;*/
    font-size: var(--fontam1);
    color: var(--branco);
    margin-right: 20px;
    padding: 5px;

}
nav a:hover{
    color: var(--amarelo);
    border-bottom: #FFD401 solid 2px;
    transition: all .45s ease;
}
nav .button {
    background: var(--verde);
    padding: 7px 20px;
    border-radius: 20px;
    border: #ffffff solid 2px;
    color: var(--branco);
}
nav .button:hover{
    background: var(--verde);
    border-bottom: none;
    border: #ffffff solid 2px;
    color: var(--branco);
}
header.sticky{
    height: 88px;
    background: var(--branco);
    box-shadow: 0px 10px 10px 0px #00000072;
    border-bottom: #00008c solid 5px;
    transition: all .45s ease;
}
header.sticky .logo a{
    color: var(--azul);
    margin-right: 20px;
}
header.sticky .logo a span{
    color: var(--amarelo);
    text-shadow: #00000012 5px 5px 5px;
}
header.sticky .logo a:hover{
    border-bottom: none;
    font-size: 1.9rem;
}
header.sticky nav a{
    color: var(--azul);
    transition: all .45s ease;
} 
header.sticky nav a:hover{
    color: var(--amarelo);
    border-bottom: #FFD401 solid 1px;
    transition: all .45s ease;
} 
header.sticky .button{
    background: var(--verde);
    padding: 7px 20px;
    border-radius: 20px;
    border: #ffffff solid 2px;
    color: var(--branco);
} 
header.sticky .button:hover{
    background: var(--azul);
    color: var(--amarelo);
    border-bottom: none;
    border: #FFD401 solid 2px;
    transition: all .45s ease;

} 

/*  Fim do Header/Nav  */
/*  *************************************************** */
/*  Inicio do Main  */
main{/*background: rgb(255, 0, 0);*/
    text-align: center;
    margin: auto;
}
/*  Fim do Main  */
/*  *************************************************** */
/*  Inicio do Home  */
.home{
    /*background: rgb(249, 249, 249);
    background: rgb(107,34,195);
    background: linear-gradient(120deg, rgb(212, 212, 212) 0%, rgb(0, 47, 255) 100%);    
    */
    background: url(../img/bg-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 100px 0 0 0;
}
.home .container{/*background: yellow;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 0 5%;
}
.home .container article{/*background: rgb(0, 4, 81);*/
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 50%;
    height: 100%;
}
.home .container article h1{
    font-size: var(--fontam6);
    font-weight: 700;
    line-height: .8;
    text-align: left;
    color: var(--amarelo);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.home .container article h1 span{
    color: var(--branco);
}
.home .container article h2{
    font-size: var(--fontam1);
    font-weight: 300;
    color: var(--branco);
    margin: 0;
    padding: 0;
}
.home .container article h3{
    font-size: var(--fontam3);
    font-weight: 300;
    color: var(--branco);
    margin: 0;
    padding: 0;
}
.home .container article a{
    background: var(--verde);
    border-radius: 7px;
    border: #ffffff solid 3px;
    font-size: var(--fontam3);
    color: var(--branco);
    padding: 10px 70px;
    margin-top: 30px;
}
.home .container article a:hover{
    background: rgb(1, 102, 1);
}
.home .container aside{/*background: rgb(14, 107, 0);*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
.home .container aside img{/*background: red;*/
    width: 750px;
    height: 600px;
    margin: auto;
}
/*  Fim do Home  */
/*  *************************************************** */
/*  Inicio do Home2  */
.home2{
    background: var(--branco);
    padding: 50px 15%;
}
.home2 h1{
    font-size: var(--fontam5);
    color: var(--azul);
    text-shadow: 5px 5px 5px #00000077;
}
.home2 h1 span{
    color: var(--amarelo);
    text-shadow: 5px 5px 5px #00000077;
}
.home2 p{
    font-size: var(--fontam1);
    color: var(--azul);
    line-height: 1.5;
}

/*  Fim do Home2  */
/*  *************************************************** */
/*  Inicio do Soluções  */
.solucoes{/*background: rgb(0, 0, 215);*/
    height: 100vh;
    padding: 100px 0 0 0;
}
.solucoes h1{
    font-size: var(--fontam4);
    color: var(--azul);
}
.solucoes h1 span{
    color: var(--amarelo);
}
.soluções p{
    font-size: var(--fontam3);
    color: var(--azul);
    line-height: 1.5;
}
.solucoes .container{/*background: rgb(94, 94, 94);*/
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin: auto;
}
.solucoes .container .row-one{/*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    margin-top: 10px;
    margin: auto;
    padding: 10px;
}
.solucoes .container .row-two{/*background: rgb(0, 255, 17);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    margin-top: 50px;
    margin: auto;
}
.solucoes .container .box{
    background: var(--branco);
    width: 450px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 140, 0.078);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.212);
}
.solucoes .container .box:hover{
    background: var(--amarelo);
    transform: translateY(-8px);
}
.solucoes .container .box i{
    color: var(--azul);
    margin: 10px;
    font-size: var(--fontam4);    
}
.solucoes .container .box h2{
}
.solucoes .container .box p{
    margin: 20px;
    margin-bottom: 30px;
}
.solucoes .container .box .link{
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px 50px;
    border-radius: 10px;
}
.solucoes .container .box .link:hover{
    border: solid 3px #ffffff;
}
.solucoes .container .box .row-one .link a i{
    margin-top: 30px;
}






/*  Fim do Diferenciais  */
/*  *************************************************** */
/*  Inicio do Diferenciais  */
.diferenciais{/*background: rgb(247, 247, 247);*/
    height: 100vh;
    padding: 100px 0 0 0;
}
.diferenciais .container{background: yellow;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
}
.diferenciais .container .row-one{background: red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 90%;
    height: 50%;
}
.diferenciais .container .row-two{ background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 50%;
}
.diferenciais .container .box{background: rgb(0, 0, 215);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.326);
    color: white;
}

/*  Fim do Diferenciais  */
/*  *************************************************** */
/*  Inicio do Trabalhos  */
.trabalhos{/*background: rgb(247, 247, 247);*/
    height: 100vh;
    padding: 100px 0 0 0;
}
.trabalhos .container{/*background: rgb(0, 0, 215);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.trabalhos .container .box{background: #FFD401;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.326);
}
.trabalhos .container .box img{
    width: 100%;
    height: 100%;
}
/*  Fim do Trabalhos  */
/*  *************************************************** */
/*  Inicio do Depoimentos  */
.depoimentos{/*background: rgb(247, 247, 247);*/
    height: 100vh;
    padding: 100px 0 0 0;
}
.depoimentos .container{/*background: yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.depoimentos .container .box{background: rgb(0, 0, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.326);
    color: yellow;
}
/*  Fim do Depoimentos  */
/*  *************************************************** */
/*  Inicio do Sobre  */
.sobre{/*background: rgb(255, 251, 0);*/
    height: 100vh;
    padding: 100px 0 0 0;
}
.sobre .container{/*background: rgb(0, 0, 215);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 20px;
}
.sobre article{/*background: blue;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: right;
}
.sobre article h1{
    font-size: 3rem;
    text-align: left;
    line-height: 1;
    color: rgb(0, 0, 170); 
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.207);   
}
.sobre article h2{
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(255, 225, 0);
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.207);   
}
.sobre article p{
    font-size: 1.5rem;
    line-height: 1.7;
    width: 90%;
    margin: 30px 0;
}
.sobre article a{
     background: green;
    border-radius: 7px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 10px 70px;
    margin-top: 0px;
}
.sobre aside{/*background: rgb(255, 0, 0);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*  Fim do Sobre  */
/*  *************************************************** */
/*  Inicio do Contatos  */
.contatos{background: rgb(6, 0, 94);
    height: 100vh;
    padding: 100px 0 0 0;
    color: #FFD401;
}
.contatos .iframe {
    width: 100%;
}
.contatos article{background: rgb(6, 0, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 20px;
}
.contatos article h1{
    font-size: 3rem;
    color: #FFD401;
}
.contatos article h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.contatos article .txt{
    color: #FFD401;
}
.contatos article p{
    font-size: 1.5rem;
    line-height: .5;
    color: white;
}
.contatos a{
    background: green;
    border-radius: 7px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 10px 70px;
    margin-top: 30px;
    border: #ffffff solid 2px;
}
.contatos aside .redes{/*  background: #ffea00;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
}
.contatos aside .redes a{background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: rgb(6, 0, 94);
    margin: 20px;
    padding: 0 10px;
    border-radius: 10px;

}
/*  Fim do Contatos  */
/*  *************************************************** */
/*  Inicio do Footer  */
footer {background: rgb(6, 0, 94);
    font-weight: 200;
    color: aliceblue;
    text-align: center;
    padding: 30px 0;
}
footer .menu-footer a{
    font-size: 1rem;
    padding: 5px;
    font-weight: 200;
    color: rgb(255, 251, 0);
}
footer .menu-footer a:hover{
    font-weight: 300;
    color: rgb(255, 255, 255);
}
footer .rodape a{
    font-size: .8rem;
    font-weight: 200;
    color: rgb(255, 251, 0);
}
footer .rodape a:hover{
    font-size: 1rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

